.detail > .menu-bar {
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.detail > .menu-bar a, .detail > .menu-bar a:hover, .detail > .menu-bar a:visited, .detail > .menu-bar:active {
  color: white;
  text-decoration: none;
}

.detail > .content {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 20px;
}

.content > .left-right {
  display: flex;
  position: relative;
  min-height: 300px;
  justify-content: space-between;
}

.left-right > .left {
  width: 65.71%;
}

.left-right > .right {
  width: 31.43%;
}
.detail .detail-image {
  width: 100%;
}

.detail .price {
  font-size: 30px;
  width: 100%;
}

.left-right > .right > div {
  margin-bottom: 20px;
}

.detail .cta > div {
  width: 100%;
  height: 44px;
  border-radius: 3px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.detail .map > div {
  width: 100%;
  height: 200px;
}

.detail h1 {
  margin-top: 0;
}