.activity {
  padding: 3px;
  border-radius: 10px;
  height: 20px;
  width: 100%;
  background-color: rgba(173, 90, 143, 0.30);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.activity-count {
  background-color: rgba(173, 90, 143, 1);
  height: 18px;
  width: 18px;
  border-radius: 9px;
  color: white;
  margin-left: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.activity-text {
  margin-left: 5px;
  font-size: 12px;
}