.day {
  height: 150px;
  width: 14.285714%;
  background-color: transparent;
  margin: 3px;
  transition: margin 0.25s, box-shadow 0.25s;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.04);
}

.day.valid {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.0980392);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.0588235) 0px 2px 4px 0px;
}

.day.valid:hover {
  box-shadow: rgba(0, 0, 0, 0.0588235) 0px 4px 6px 2px;
  border-color: #AD5A8F;
}

.day > .date {
  margin: 3px;
  padding-bottom: 20px;
}

.day:not(.valid) > .date {
  color: rgba(0,0,0, 0.2);
}