.button {
  width: 25%;
  max-width: 400px;
  height: 78px;
}

.button > .button-content {
  height: 78px;
  line-height: 20px;
  margin-left: 8px;
  margin-right: 8px;
  white-space: normal;
  width: 324px;
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.0980392);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.0588235) 0px 2px 4px 0px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.button > .button-content > .photo {
  width: 78px;
  height: 78px;
  background-color: rgba(0,0,0,0.1);
}

.button > .button-content > .text {
  display: flex;
  align-items: center;
  margin-left: 10px;
}