.navbar > .bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(57, 69, 83, 1.00);
  z-index: 100;
  display: flex;
  align-items: center;
}

.navbar > .padding {
  height: 60px;
}

.navbar > .bar > input {
  height: 30px;
  font-size: 20px;
  border: 0 solid transparent;
  margin-left: 20px;
  padding: 5px;
  border-radius: 3px;
  color: rgba(83, 83, 83, 1.00)
}